:root {
  --aqua-turquoise: #94D6BA;
  --purple: #853EB6;
  --dark-purple: #521680;
  --creme: #FFE6AA;
  --titulos-desktop: 40px;
  --titulos-mobile: 20px;
  --titulos-card: 18px;  /* AAAA */
  --titulos-card-mobile:12px;
  --description-card-mobile: 12px;
  --parrafo-desktop: 24px;
  --parrafo-mobile: 14px;
  --descripcion-desktop: 18px;
  --description-mobile: 14px;
  --boton-cta: 16px;
  --boton-cta-mobile: 12px;
  --boton-seemore: 18px;
  --boton-seemore-mobile: 14px;
} 
.bg-turquoise {
  background-color: var(--aqua-turquoise);
}
.btn-purple {
  background-color: var(--purple);
  border-radius: 20px;
}
.nav-item .btn-purple {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Shrikhand', cursive;
  font-size: var(--titulos-desktop);
  color: var(--dark-purple);
}
.parrafo {
  font-family: 'Raleway', sans-serif;
  font-size: var(--parrafo-desktop);
}

.text-black {
  color:black;
}

.text-purple {
  color: var(--dark-purple);
}

.bg-blue {
  background-image: url("../assets/inicio/blueBackground.jpg");
}

.bg-yellow {
  background-image: url("../assets/inicio/yellowBackground.jpg");
}
.bg-purple {
  background-color: var(--purple);
}

.bg-yellow-frase{
  background-image: url("../assets/conoceme/yellowPhraseBg.jpg");
}


.btn.primary {
  font-family: 'Raleway', sans-serif;
  font-size: var(--boton-cta);
  font-weight: 800;/* Extrabold */
  color: var(--dark-purple);
  background-color: white;
  border: 2px solid var(--dark-purple);
  border-radius: 25px;
  transition: all;
  transition-duration: 0.8s;
}
.btn.primary:hover{
  transform: scale(1.04);
}

.btn.secondary {
  font-family: 'Raleway', sans-serif;
  font-size: var(--boton-cta);
  font-weight: 800;/* Extrabold */
  color: var(--dark-purple);
  background-color: var(--aqua-turquoise);
  border: 2px solid var(--dark-purple);
  border-radius: 25px;
  transition: all;
  transition-duration: 0.8s;
  padding: 12px 32px;
}
.btn.secondary:hover{
  transform: scale(1.04);
}

.btn.terciary{
  font-family: 'Raleway', sans-serif;
  font-size: var(--boton-cta);
  font-weight: 800;/* Extrabold */
  color: var(--aqua-turquoise);
  background-color: white;
  border: 0.999999px solid var(--aqua-turquoise);
  border-radius: 25px;
  transition: all;
  transition-duration: 0.8s
}
.btn.terciary:hover{
  transform: scale(1.04);
}
.description {
  font-family: 'Raleway', sans-serif;
  font-size: var(--descripcion-desktop);
}

.btn.seemore {
  display: flex;
  gap: 8px;
  color: var(--purple);
  padding: 10px 10px 10px 0;
  font-size: var(--boton-seemore);
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.btn.seemore {
  fill: var(--dark-purple);
}

.emilce img {
  height: 100%;
  max-height: 300px;
  min-width: 296px;
  object-fit: cover;
}
.radius-img {
  border-radius: 25px;
}

.cover-photo {
  width: 96vw;
  height: 400px;
  margin: 25px;
  object-fit: cover;
  object-position: 50% 40%;
}

.emilce-img {
  margin-left: 20px;
}

.title-regina {
  margin-top: 70px;
  order:-1;
}

.feria-medieval {
  width: 100vw; 
  height: 337px; 
  object-fit: cover;
  object-position: 100% 0
}

.contenedorParrafo {
  padding-left: 25px;
}






/* medida maxima Tablet*/
@media (max-width:767px){
  h1, h2, h3, h4, h5 {
    font-size: var(--titulos-mobile);
  }
  .parrafo {
    font-size: var(--parrafo-mobile);
  }
  .bg-blue{
    background-image: url("../assets/inicio/blueMiniBg.jpg");
  }
  .bg-yellow {
    background-image: url("../assets/inicio/yellowMiniBg.jpg");
  }
  .bg-yellow-frase{
    background-image: url("../assets/conoceme/yellowMiniPhraseBg.jpg");
  }
  .bg-blue__padding {
    padding: 39px 32px;
  }
  .btn.primary {
    font-size: var(--boton-cta-mobile);
  }
  .btn.secondary {
    font-size: var(--boton-cta-mobile);
   border: 0.999999px solid var(--dark-purple);
  }
  .description {
    font-size: var(--description-mobile);
  }
  .btn.seemore {
    font-size: var(--boton-seemore-mobile);
    padding: 8.18407px 8.18407px 8.18407px 0px;
  }
  .logo {
    height:72px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .cover-photo {
    height: 128px;
    width: 95%;
    margin: 15px;
  }
  .emilce-img {
    margin-left: 0;
    height: 262px;
    width: 90%;
    object-fit: cover;
    object-position: 70% 35%;
  }
  .principal2{
    display: flex;
    justify-content: center;
    order: -1;
  }
  .title-regina {
    margin-top: 15px;
  }
  .feria-medieval {
    height: 168px;
    object-fit: cover;
    object-position: 0 25%;
    margin-top: -20px;
  }
  .familiaLadyRegina {
    height: 264px;
    width: 100%;
    object-fit: cover;
    object-position: 70% 45%;
  }
  .contenedorParrafo {
    padding-left: 12px;
  }
}


@media (min-width:550px) {
  .banner-contacto {
    max-height: 100%;
    height: 400px;
    width: 100%;
  }
  .banner-contacto img {
    object-fit: cover; border-radius: 25px;
  }
}
