.swiper {
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 800px) {
  .swiper {
    width: 100%;
  }
}

.swiper-wrapper {
  gap: 30px;
}

.swiper-slide {
  height: 300px;
  width: 100%;
  min-width: 300px;
  background: url(../assets/inicio/tortaDecorada.jpg) no-repeat center;
  background-size: cover;
  line-height: 300px;
  text-align: center;
}

.swiper-slide:nth-child(1) {
  background: url(../assets/inicio/tortaPorter.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background: url(../assets/inicio/masasIntegrales.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(3) {
  background: url(../assets/inicio/carrotCake.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(4) {
  background: url(../assets/inicio/pastafrola.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(5) {
  background: url(../assets/inicio/tortaFrutada.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(6) {
  background: url(../assets/inicio/galletitasAvenaFrutosSecos.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(7) {
  background: url(../assets/inicio/masasSecas.jpg) no-repeat center;
  background-size: cover;
}

.swiper-slide:nth-child(8) {
  background: url(../assets/inicio/tortaDecorada.jpg) no-repeat center;
  background-size: cover;
}


